/*****************************************
 GLOBAL
******************************************/

body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 18px;
}

img {
    border: 0px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a {
    display: block;
    height: 20px;
    margin: 0px 10px 0px 10px;
    color: steelblue;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: lightsteelblue;
}

div.field input {
    float: left;
    border: 1px solid lightgrey;
    max-width: 150px;
    min-width: 100px;
}

label {
    display: block;
    width: 150px;
    height: 15px;
    float: left;
    margin: 3px;
    color: steelblue;
}

div.labelspacer {
    display: block;
    width: 150px;
    height: 15px;
    float: left;
    margin: 3px;
}


div.field, div.actions {
    margin-bottom: 10px;
    display: block;
    height: 20px;
    width: 500px;
}



div.submit_150 input {
    cursor:pointer;
    border: 0px;
    width: 150px;
    height: 30px;
    color:#666;
    font-weight:bold;
    padding-bottom: 5px;
    background: url('../images/button_150.png');
}

div.form {
    width: 500px;
}

div.form span {
    float: left;
}

div.form a {
    float: left;
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}



.success {
    border: 2px solid steelblue;
    border-color: steelblue;
}
/*****************************************
 GLOBAL LAYOUT
******************************************/
#navigation {
    margin-top: 30px;
    height: 30px;
    border-bottom: 1px solid lightsteelblue;
}

#navigation a {
    float: left;
    margin: 5px 20px 5px 20px;
    display: block;
}

#page {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#content {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}

div.footer {
    width: 100%;
    height: 30px;
    float: left;
    /* border-top: 1px solid steelblue; */
}

div.footer span {
    float: left;
}

div.footer a {
    float: left;
}

.headline {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid grey;
}

/*****************************************
 INDEX LAYOUT
******************************************/
#index {
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 0px;
}

#index #welcome {
    height: 300px;
}

#index .logo {
    margin-bottom: 40px;
}

#index span {
    color:red;
    width: 300px;
    margin-left: 50px;
    margin-right: auto;
}


#index #buttons a {
    width: 100px;
    height: 20px;
    float: right;
}

#welcome h1 {
    text-align: center;
}

img.centered {
    margin-left: auto;
    margin-right: auto;
}
.form {
    list-style: none;
    height:40px;
}

.form li {
    display: inline;
    float: left;
}

.horizontal ul li {
    display: inline;
}
/*****************************************
 SHOW USER LAYOUT
******************************************/
#user {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#user #sidebar {
    width: 100px;
    height: 300px;
    float: left;
    padding: 15px;
}

#user #photo {
    display: block;
    width: 75px;
    height: 120px;
}

#user #buddies {
    display: block;
    width: 80px;
    height: 300px;
}

#user #buddies span {
    display: block;
    width: 80px;
    border-bottom: 1px solid steelblue;
}

#user #buddies a {
    float: left;
    text-align: left;
}

#user #properties {
    display: block;
    float: left;
    height: 480px;
    width: 600px;
    border-left: 1px solid steelblue;
    padding: 10px;
}

