<div id="index">
  <div id = "welcome">
    <h1>New at Golo?</h1><br>
      <%= link_to image_tag("sign_up.png", :alt => "Sign up now",                                       :class => "centered"), signup_path %>
  </div>
</div>
<span style="color:red; left:400px; position:relative; top:-35px;"><strong>Achtung: </strong>Internet Explorer 6 wird nicht unterstützt.</span>

