<div id="index">
  <div id = "welcome">
    <%= image_tag("logo_1.jpg", :class => "logo") %>
      <%= link_to image_tag("sign_up.png", :alt => "Sign up now", :class => "centered"), signup_path %>
  </div>
  <span><strong>Achtung: </strong>Internet Explorer 6 wird nicht unterstützt.</span>
</div>


