<div id="index">
  <ul class="form">
    <li>
      <label for="username">username</label><input id="username" type="text" />
    </li>
    <li>
      <label for="password">password</label><input id="password" type="password" />
    </li>
  </ul>
  <div id="buttons">
    <%= link_to 'Signup', signup_path %>
    <%= link_to 'Login', login_path %>
  </div>

</div>
<span style="color:red; left:400px; position:relative; top:-35px;"><strong>Achtung: </strong>Internet Explorer 6 wird nicht unterstützt.</span>

